
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hey <%= @guest.name %></h1>
<p>
<h3>We have updated your reservation at <%= @reservation.restaurant.name %>.</h3>
<div>Here is the detail:</div>

<h4>Current Reservation Detail</h4>
<ul>
  <li>Time: <%= @reservation.reservation_time.strftime("%d %b @ %l.%M %p, %Y") %></li>
  <li>No. of Guests: <%= @reservation.guest_count %></li>
</ul>

<h4>Previous Reservation Detail</h4>
<ul>
  <li>Time: <%= @previous_time.strftime("%d %b @ %l.%M %p, %Y") %></li>
  <li>No. of Guests: <%= @previous_guest_count %></li></ul>
</p>

<p>Thanks for using Retro-Resto and have a great day!</p>

</body>
</html>

